<header class="navbar">
    <div class="navbar-logo">
        <img class="logo-img" src="{{image.url}}" alt="My Logo">
    </div>
    <nav class="navbar-navigation">
        <ul class="nav-list">
            <li class="nav-list-item"><a href="./index.html">Home</a></li>
            <li class="nav-list-item"><a href="./overzicht.html">Products</a></li>
            <li class="nav-list-item"><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    <div class="navbar-buttons">
        <a href="./login.html"><button type="button" class="navbar-button"><i class="fa-solid fa-user"></i></button></a>
        <a href=""><button type="button" class="navbar-button"><i class="fa-solid fa-cart-shopping"></i></button></a>
    </div>
</header>