{% extends "_layout.twig" %}
{% block content %}

{% set aboutImg = home.fotos.one() %}
<section class="about">
    <div class="about-info">
        <div class="about-info-left">
            <h1 class="about-info-heading">{{home.abouttitle}}</h1>
            <p class="about-info-text"> 
                {{home.aboutdescription}}
            </p>
        </div>
        <div class="about-info-right">
            <img class="about-info-image" src="{{aboutImg.url}}" alt="Illusration">
        </div>
    </div>
</section>


{% set stickers = craft.entries.section('stickers').orderBy('stock desc').limit(3).all() %}


{% if stickers|length > 0%}
    <section class="gallery">
        <h1 class="gallery-title">Best Sold</h1>
        <div class="cards-wrapper">
            {% for sticker in stickers %}
                {% include '_snippets/_stickerCard.twig' %}
            {% endfor %}
        </div>
    </section>
    {% else %}
    <div>There are no stickers at this moment.</div>
{% endif %}

{% endblock %}