{% extends '_layout.twig' %}

{% set image = entry.cardimage.one %}

{% block content %}

<section class="productSection">
    <div class="productContainer">
        <h1 class="productContainer-name">{{ entry.title }}</h1>
        <div class="productInfo">
            <div class="productInfo-left">
                <img class="productInfo-left-image" src="{{image.url}}" alt="Product Image">
            </div>
            <div class="productInfo-right">
                <h1 class="productInfo-right-price">{{ entry.cardprice|money }}</h1>
                <p class="productInfo-right-text">{{ entry.cardDescription }}</p>
                <div class="ProductInfo-right-counter">
                <button class="counter-button" type="button">-</button>
                <input class="counter-input"  type="number" placeholder="1">
                <button class="counter-button" type="button">+</button>
                <button class="ProductInfo-right-button" type="button" >Add to cart <i class="fa-solid fa-cart-shopping"></i></button>
            </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}